<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div>
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/webapp">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/webapp/show-artist">ArtistList</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/webapp/show-artist/add">Add Artist</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="hero-unit">
        <br>
        <h2>Artistslist</h2>
        <br>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Stagename</th>
                        <th>Birthname</th>
                        <th>Birthday</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr block th:each="artist: ${artists}">
                        <td th:text="${artist.stageName}"></td>
                        <td th:text="${artist.birthName}"></td>
                        <td th:text="${artist.birthDate}"></td>
                        <td><a th:href="@{/webapp/show-artist/edit/{id}(id=${artist.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                        <td><a th:href="@{/webapp/show-artist/delete/{id}(id=${artist.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                    </tbody>
                </table>

        <p>
<!--            <a href="/signup" th:href="@{/signup}" class="btn btn-large btn-success">Sign up</a>-->
        </p>
    </div>
</div>

</body>
</html>

<!--

<table class="table table-hover">
    <thead>
    <tr>
        <th>Stagename</th>
        <th>Birthname</th>
        <th>Birthday</th>
    </tr>
    </thead>
    <tbody>
    <tr block th:each="artist: ${artists}">
        <td th:text="${artist.stageName}"></td>
        <td th:text="${artist.birthName}"></td>
        <td th:text="${artist.birthDate}"></td>
    </tbody>
</table>

-->
